@model IEnumerable<NotesApp.Models.Note>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Notes";
}

<h2>Notes</h2>

<a asp-action="Create" class="btn btn-sm btn-primary mb-2">+ Create New Note</a>
<hr />

@if (!Model.Any())
{
    <p>No notes yet — create your first note.</p>
}
else
{
    @foreach (var note in Model)
    {
        string cardPriorityClass;
        string prioritynoteClass;

        switch (note.Priority)
        {
            case NotesApp.Models.PriorityLevel.Low:
                cardPriorityClass = "card-priority-low";
                prioritynoteClass = "priority-note priority-low";
                break;

            case NotesApp.Models.PriorityLevel.Medium:
                cardPriorityClass = "card-priority-medium";
                prioritynoteClass = "priority-note priority-medium";
                break;

            case NotesApp.Models.PriorityLevel.High:
                cardPriorityClass = "card-priority-high";
                prioritynoteClass = "priority-note priority-high";
                break;

            default:
                cardPriorityClass = "";
                prioritynoteClass = "priority-note";
                break;
        }

        <div class="card bg-white @cardPriorityClass" style="padding:12px; margin-bottom:12px;">
            <h4 class="titleCard">@note.Title</h4>

            <p class="note-content">@note.Content</p>

            <div style="margin: 6px 0;">
                <span class="@prioritynoteClass">@note.Priority</span>
            </div>

            <small>Created: @note.CreatedAtUtc.ToLocalTime()</small><br />

            <div class="mt-2">
                <a asp-action="Edit" asp-route-id="@note.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@note.Id" class="btn btn-sm btn-outline-danger ">Delete</a>
            </div>
        </div>
    }
}
